# 2018 Fantasy Baseball Sabermetrics
***

**Author:** Jake Mitchell

***

**Optional usage: ** Make a copy of this sheet, and as you draft, reduce your budget accordingly, and remove players from the neededPositions dictionary.  It should update values at the bottom when youre done.

 
**2018 Retrosheet schedules:** The information used here was obtained free of charge from and is copyrighted by Retrosheet.  Interested parties may contact Retrosheet at 20 Sunset Rd., Newark, DE 19711.

In [452]:
import pandas as pd

In [453]:
#Paths to data
schedulePath = "data/2018SKED.txt"
battingPath = "data/LahmanBatting2017.csv"
pitchingPath = "data/LahmanPitching2017.csv"

# League Settings

***Need to create a dictionary of all of the positions needed for a full team***

In [454]:
neededPositions = {}
originalPositions = {}
budget = 260
battingValues = {}
pitchingValues = {}

#commented out values are for things we do not have data for
neededPositions["C"] = 1
neededPositions["1B"] = 1
neededPositions["2B"] = 1
neededPositions["3B"] = 1
neededPositions["SS"] = 1
neededPositions["OF"] = 4
#treat this player as an average player of any position when figuring out average team score
neededPositions["UTIL"] = 1
neededPositions["SP"] = 5
neededPositions["RP"] = 2

originalPositions["C"] = 1
originalPositions["1B"] = 1
originalPositions["2B"] = 1
originalPositions["3B"] = 1
originalPositions["SS"] = 1
originalPositions["OF"] = 4
#treat this player as an average player of any position when figuring out average team score
originalPositions["UTIL"] = 1
originalPositions["SP"] = 5
originalPositions["RP"] = 2
#treat this player as if they don't exist
#neededPositions["DL"] = 1
battingValues["1B"] = 0.88
battingValues["2B"] = 1.2
battingValues["3B"] = 1.55
battingValues["HR"] = 1.98
battingValues["BB"] = 0.69
battingValues["RBI"] = 0.75
battingValues["SB"] = 0.2
battingValues["K"] = -0.2
battingValues["HBP"] = 0.72
battingValues["SAC"] = 0.1
battingValues["CS"] = -0.42
#battingValues["E"] = -1
pitchingValues["IP"] = 1.2
pitchingValues["ER"] = -2
pitchingValues["W"] = 4
pitchingValues["L"] = -4
pitchingValues["SV"] = 3
#pitchingValues["BS"] = -3
pitchingValues["K"] = 1
pitchingValues["H"] = -0.33
pitchingValues["BB"] = -0.33
pitchingValues["SO"] = 1
pitchingValues["G"] = 0.5
pitchingValues["B"] = -1
#pitchingValues["PKO"] = 1
#pitchingValues["HD"] = 1
pitchingValues["CG"] = 0.75
#pitchingValues["QS"] = 1

teamCount = 12
playersPerTeam = 0 
for key in neededPositions:
    playersPerTeam +=neededPositions[key]
playersDraftedInLeague = playersPerTeam * teamCount
print("playersDraftedInLeague:", playersDraftedInLeague)

playersDraftedInLeague: 204

In [455]:
class Schedule:
    def __init__(self, data_source):
        self.dfSch = pd.read_table(data_source, sep=',', names=["date", "game_num", "day_of_week", "visit_team", "visit_league", "visit_season_game_num","home_team", "home_league", "home_season_game_num", "time_of_day", "cancel_indicator", "date_of_makeup"])
        
    def get_teams(self):
        return self.dfSch.home_team.unique()
        
    def get_count_of_games_by_date(self, team, date="20180501", toPrint=False):
        teamSch = self.dfSch[((self.dfSch.home_team == team) | (self.dfSch.visit_team == team)) & (pd.to_numeric(self.dfSch.date) < int(date))]
        if toPrint:
            print(team + ": " + str(teamSch.shape[0]))
        return teamSch.shape[0]

***Getting the number of games that each team is expected to have by a given date***

In [456]:
endDate = "20180501"

schedule = Schedule(schedulePath)
for teamName in schedule.get_teams():
    schedule.get_count_of_games_by_date(teamName, endDate)

In [457]:
#From Lahman Database
'''select b.playerID, f.POS, f.E, b.teamID, b.lgID, b.G, b.H as 1B, b.2B, b.3B, b.HR, b.BB, b.RBI, b.SB, b.SO as K, b.HBP, b.SO + b.SF as SAC, b.CS, m.nameFirst, m.nameLast from batting b
join master m on b.playerID = m.playerID
join fielding f on b.playerID = f.playerID and f.yearID = 2016
where f.POS != 'P' 
and b.yearID = 2017
group by b.playerID;'''
dfBat = pd.read_csv(battingPath)

#2017_score
dfBat['2017_s'] = 0
#2017_score_per_game
dfBat['2017_spg'] = 0
#2018_expected_score_by_default_date
dfBat['es'] = 0

dfBat = dfBat[dfBat.G > 10]

for index, row in dfBat.iterrows():
    playerScore = 0
    for key in battingValues:
        playerScore += row[key] * battingValues[key]
    dfBat.loc[index, '2017_s'] = playerScore
    dfBat.loc[index, '2017_spg'] = playerScore / row['G']
dfBat = dfBat.sort_values("2017_spg", ascending=False)
#dfBat.head(100)

In [458]:
#From Lahman Database
'''select p.playerID, p.teamID, p.lgID, p.IP, p.ER, p.W, p.L, p.SV, p.SO as K, p.H, p.BB, p.SHO as SO, p.G, p.BK as B, p.CG, m.nameFirst, m.nameLast, m.nameGiven from pitching p
join master m on p.playerID = m.playerID
where p.yearID = 2017;'''
dfPit = pd.read_csv(pitchingPath)
#2017score
dfPit['2017_s'] = 0
#2017_score_per_game
dfPit['2017_spg'] = 0
#2018_expected_score_by_default_date
dfPit['es'] = 0
dfPit['POS'] = 'SP'

dfPit = dfPit[dfPit.G > 10]

for index, row in dfPit.iterrows():
    playerScore = 0
    for key in pitchingValues:
        playerScore += row[key] * pitchingValues[key]
    dfPit.loc[index, '2017_s'] = playerScore
    dfPit.loc[index, '2017_spg'] = playerScore / row['G']
    if dfPit.loc[index, 'G'] > 35:
        dfPit.loc[index, 'POS'] = 'RP'
dfPit = dfPit.sort_values("2017_spg", ascending=False)

In [459]:
#Need to split this by position, and get the players likely to be drafted
#do this by spliting by position, sorting them, and only taking the number needed * 1.5 for wiggle room
posDFs = {}

for pos in neededPositions:
    posInLeague = originalPositions[pos]*teamCount
    posDFs[pos] = dfBat[dfBat["POS"] == pos].head(int(posInLeague*1.5))
posInLeague = originalPositions['SP']*teamCount
posDFs['SP'] = dfPit[dfPit["POS"] == 'SP'].head(int(posInLeague*1.5))
posInLeague = originalPositions['RP']*teamCount
posDFs['RP'] = dfPit[dfPit["POS"] == 'RP'].head(int(posInLeague*1.5))

In [460]:
#Need to get average scores by position, use that to get team scores, then figure out how much each position contributes
#from there we can get an average cost by position, and how much of our budget should go to each position

posMeanScores = {}
avgTeamScore = 0
for pos in posDFs:
    #Check if the mean is NaN (happens when position is empty or need 0)
    if posDFs[pos]["2017_spg"].mean() != posDFs[pos]["2017_spg"].mean():
        posMeanScores[pos] = 0
    else:
        posMeanScores[pos] = posDFs[pos]["2017_spg"].mean()
    avgTeamScore += posMeanScores[pos] * neededPositions[pos]
#add for util player, assuming you would want a 1b
avgTeamScore += posMeanScores["1B"] * neededPositions['UTIL']
moneyPerScore = budget / avgTeamScore

#dictionary of average player costs at that position
posAvgCosts = {}

for pos in posDFs:
    #print(pos + " average cost: " + str(posMeanScores[pos]/avgTeamScore * budget))
    posAvgCosts[pos] = posMeanScores[pos]/avgTeamScore * budget
    #print(posAvgCosts[pos])
    #print(pos + " budget for: " + str(posMeanScores[pos]*neededPositions[pos]/avgTeamScore * budget))
    #print()

In [461]:
for pos in posDFs:
    print(pos)
    print(pos + " average score: " + str(posMeanScores[pos]))
    #score above average
    posDFs[pos]['saa'] = 0
    #percent above average
    posDFs[pos]['paa'] = 0
    #value
    posDFs[pos]['value'] = 0
    for index, row in posDFs[pos].iterrows():
        posDFs[pos].loc[index, 'es'] = row.loc['2017_spg']*schedule.get_count_of_games_by_date(row['teamID'])
        posDFs[pos].loc[index, 'saa'] = float(row.loc['2017_spg'] - posMeanScores[pos])
        posDFs[pos].loc[index, 'paa'] = min(float(row.loc['2017_spg'] / posMeanScores[pos]), 2.0)
        posDFs[pos].loc[index, 'value'] = int(round(posDFs[pos].loc[index, 'paa'] * posAvgCosts[pos]))
        
    with pd.option_context('display.max_rows', None):
        display(posDFs[pos][["nameFirst", "nameLast", "POS", "G", "2017_spg", "saa", "paa", "value"]])
    print()

C
C average score: 1.8312606366343742

     nameFirst  nameLast POS    G  2017_spg       saa       paa  value
399       Gary   Sanchez   C  122  2.420492  0.589231  1.321763     11
444       Kurt    Suzuki   C   81  2.182099  0.350838  1.191583     10
7        Jorge    Alfaro   C   29  2.040345  0.209084  1.114175      9
158       Evan    Gattis   C   84  2.037024  0.205763  1.112361      9
364      J. T.  Realmuto   C  141  1.976312  0.145051  1.079209      9
221      Chris  Iannetta   C   89  1.917753  0.086492  1.047231      8
73   Welington  Castillo   C   96  1.903229  0.071969  1.039300      8
137      Tyler   Flowers   C   99  1.872727  0.041467  1.022644      8
490       Mike    Zunino   C  124  1.853468  0.022207  1.012127      8
81    Robinson  Chirinos   C   88  1.833295  0.002035  1.001111      8
285      James    McCann   C  106  1.667264 -0.163996  0.910446      7
167        Yan     Gomes   C  105  1.663714 -0.167546  0.908508      7
362     Wilson     Ramos   C   64  1.661719 -0.169542  0.907418      7
99      Travis  d'Arnaud   C  112  1.654375 -0.176886  0.903408      7
393    Cameron      Rupp   C   88  1.625227 -0.206033  0.887491      7
30      Tucker  Barnhart   C  121  1.588430 -0.242831  0.867397      7
344      Manny      Pina   C  107  1.555421 -0.275840  0.849371      7
471  Christian   Vazquez   C   99  1.509798 -0.321463  0.824458      7

1B
1B average score: 2.4123340310812775

    nameFirst     nameLast POS    G  2017_spg       saa       paa  value
475      Joey        Votto  1B  162  2.699074  0.286740  1.118864     12
144   Freddie      Freeman  1B  117  2.672479  0.260145  1.107839     12
166      Paul  Goldschmidt  1B  155  2.649226  0.236892  1.098200     12
379   Anthony        Rizzo  1B  157  2.530127  0.117793  1.048830     11
0        Jose        Abreu  1B  156  2.519936  0.107602  1.044605     11
305    Daniel       Murphy  1B  144  2.462917  0.050583  1.020968     11
55       Kris       Bryant  1B  151  2.450199  0.037865  1.015696     11
488      Ryan    Zimmerman  1B  144  2.447361  0.035027  1.014520     11
462    Justin       Turner  1B  130  2.408154 -0.004180  0.998267     11
419    Travis         Shaw  1B  144  2.372361 -0.039973  0.983430     10
319      Matt        Olson  1B   59  2.365593 -0.046741  0.980624     10
125     Edwin  Encarnacion  1B  157  2.355669 -0.056665  0.976510     10
48     Justin         Bour  1B  108  2.347407 -0.064927  0.973086     10
172    Marwin     Gonzalez  1B  134  2.269030 -0.143304  0.940595     10
218      Eric       Hosmer  1B  162  2.245864 -0.166470  0.930992     10
424    Justin        Smoak  1B  158  2.220000 -0.192334  0.920271     10
403    Carlos      Santana  1B  154  2.211039 -0.201295  0.916556     10
35    Brandon         Belt  1B  104  2.195577 -0.216757  0.910146     10

2B
2B average score: 2.1395804278955053

    nameFirst   nameLast POS    G  2017_spg       saa       paa  value
361      Jose    Ramirez  2B  152  2.584145  0.444564  1.207781     11
12       Jose     Altuve  2B  153  2.504379  0.364799  1.170500     11
115     Brian     Dozier  2B  152  2.448487  0.308906  1.144377     11
410  Jonathan     Schoop  2B  160  2.269000  0.129420  1.060488     10
463      Trea     Turner  2B   98  2.225612  0.086032  1.040210     10
66   Robinson       Cano  2B  150  2.217733  0.078153  1.036527     10
346      Jose     Pirela  2B   83  2.143494  0.003914  1.001829      9
259       Jed     Lowrie  2B  153  2.109608 -0.029973  0.985991      9
328    Dustin    Pedroia  2B  105  2.078762 -0.060819  0.971575      9
52       Alex    Bregman  2B  155  2.062903 -0.076677  0.964163      9
160   Scooter    Gennett  2B  141  2.050213 -0.089368  0.958231      9
75    Starlin     Castro  2B  112  2.047054 -0.092527  0.956755      9
415      Jean     Segura  2B  125  2.027280 -0.112300  0.947513      9
252        DJ   LeMahieu  2B  155  1.971548 -0.168032  0.921465      9
476      Neil     Walker  2B   73  1.968356 -0.171224  0.919973      9
204     Cesar  Hernandez  2B  128  1.963984 -0.175596  0.917930      9
317   Eduardo      Nunez  2B   76  1.921184 -0.218396  0.897926      8
244       Ian    Kinsler  2B  139  1.918705 -0.220875  0.896767      8

3B
3B average score: 2.1408641571668863

    nameFirst     nameLast POS    G  2017_spg       saa       paa  value
19      Nolan      Arenado  3B  159  2.724465  0.583601  1.272601     12
114      Josh    Donaldson  3B  113  2.573982  0.433118  1.202310     11
369   Anthony       Rendon  3B  147  2.488776  0.347911  1.162510     11
36     Adrian       Beltre  3B   94  2.484362  0.343498  1.160448     11
250      Jake         Lamb  3B  149  2.330738  0.189874  1.088690     10
402    Miguel         Sano  3B  114  2.243772  0.102908  1.048068     10
72       Nick  Castellanos  3B  157  2.227898  0.087034  1.040654     10
262     Manny      Machado  3B  156  2.217436  0.076572  1.035767     10
304      Mike    Moustakas  3B  148  2.145203  0.004339  1.002027      9
413      Kyle       Seager  3B  154  2.095390 -0.045475  0.978759      9
257      Evan     Longoria  3B  156  2.040641 -0.100223  0.953186      9
440   Eugenio       Suarez  3B  156  2.034231 -0.106633  0.950191      9
199      Ryon        Healy  3B  149  1.908792 -0.232072  0.891599      8
294      Yoan      Moncada  3B   54  1.852778 -0.288086  0.865435      8
128     Yunel      Escobar  3B   89  1.820337 -0.320527  0.850281      8
140    Maikel       Franco  3B  154  1.803636 -0.337228  0.842481      8
198     Chase      Headley  3B  147  1.798912 -0.341953  0.840274      8
372      Jose        Reyes  3B  145  1.744207 -0.396657  0.814721      8

SS
SS average score: 1.9923140032244764

     nameFirst    nameLast POS    G  2017_spg       saa       paa  value
90      Carlos      Correa  SS  109  2.644954  0.652640  1.327579     12
255  Francisco      Lindor  SS  159  2.419811  0.427497  1.214573     11
92        Zack      Cozart  SS  122  2.352131  0.359817  1.180603     10
16       Elvis      Andrus  SS  158  2.228861  0.236547  1.118730     10
412      Corey      Seager  SS  145  2.186897  0.194583  1.097667     10
184       Didi   Gregorius  SS  136  2.169706  0.177392  1.089038      9
449      Chris      Taylor  SS  140  2.133214  0.140900  1.070722      9
417     Marcus      Semien  SS   85  2.004588  0.012274  1.006161      9
45      Xander    Bogaerts  SS  148  1.928514 -0.063800  0.967977      8
420  Andrelton     Simmons  SS  158  1.914304 -0.078010  0.960844      8
59    Asdrubal     Cabrera  SS  135  1.913704 -0.078610  0.960543      8
437     Trevor       Story  SS  145  1.892966 -0.099348  0.950134      8
93     Brandon    Crawford  SS  144  1.811806 -0.180508  0.909398      8
287      Jordy      Mercer  SS  145  1.706759 -0.285555  0.856671      7
150     Freddy      Galvis  SS  162  1.690988 -0.301326  0.848756      7
15         Tim    Anderson  SS  146  1.668151 -0.324163  0.837293      7
461       Troy  Tulowitzki  SS   66  1.610455 -0.381859  0.808334      7
222       Jose    Iglesias  SS  130  1.583846 -0.408468  0.794978      7

OF
OF average score: 2.083429109507501

     nameFirst    nameLast POS    G  2017_spg       saa       paa  value
273      J. D.    Martinez  OF   62  3.138387  1.054958  1.506357     14
459       Mike       Trout  OF  114  2.861842  0.778413  1.373621     13
434  Giancarlo     Stanton  OF  159  2.825849  0.742420  1.356345     12
195      Bryce      Harper  OF  111  2.815676  0.732247  1.351462     12
41     Charlie    Blackmon  OF  159  2.766352  0.682923  1.327788     12
235      Aaron       Judge  OF  155  2.763742  0.680313  1.326535     12
322    Marcell       Ozuna  OF  159  2.530440  0.447011  1.214555     11
40      Mookie       Betts  OF  153  2.480458  0.397028  1.190565     11
95      Nelson        Cruz  OF  155  2.479290  0.395861  1.190005     11
121       Adam       Eaton  OF   23  2.446957  0.363527  1.174485     11
432     George    Springer  OF  140  2.440786  0.357357  1.171523     11
101      Khris       Davis  OF  153  2.370458  0.287028  1.137767     10
464     Justin       Upton  OF   27  2.365185  0.281756  1.135237     10
88     Michael    Conforto  OF  109  2.347890  0.264461  1.126935     10
340      Tommy        Pham  OF  128  2.315000  0.231571  1.111149     10
208    Teoscar   Hernandez  OF   26  2.250000  0.166571  1.079950     10
153    Avisail      Garcia  OF  136  2.237206  0.153777  1.073809     10
286     Andrew   McCutchen  OF  156  2.195577  0.112148  1.053828     10
139     Dexter      Fowler  OF  118  2.190339  0.106910  1.051314     10
485  Christian      Yelich  OF  156  2.186346  0.102917  1.049398     10
191      Mitch     Haniger  OF   96  2.181667  0.098238  1.047152     10
80      Yoenis    Cespedes  OF   81  2.179259  0.095830  1.045996     10
212      Aaron       Hicks  OF   88  2.178977  0.095548  1.045861     10
366       Josh     Reddick  OF  134  2.164552  0.081123  1.038937      9
405    Domingo     Santana  OF  151  2.151921  0.068491  1.032874      9
11       Aaron     Altherr  OF  107  2.130280  0.046851  1.022488      9
51        Ryan       Braun  OF  104  2.125192  0.041763  1.020045      9
50     Michael    Brantley  OF   90  2.125111  0.041682  1.020006      9
38      Andrew  Benintendi  OF  151  2.121656  0.038227  1.018348      9
352      A. J.     Pollock  OF  112  2.104107  0.020678  1.009925      9
54         Jay       Bruce  OF   43  2.082791 -0.000638  0.999694      9
230       Adam       Jones  OF  147  2.065510 -0.017919  0.991399      9
283      Nomar      Mazara  OF  148  2.065135 -0.018294  0.991219      9
156      Brett     Gardner  OF  151  2.055828 -0.027601  0.986752      9
429     Steven       Souza  OF  148  2.046757 -0.036672  0.982398      9
363      Colby      Rasmus  OF   37  2.042432 -0.040997  0.980322      9
388      Eddie     Rosario  OF  151  2.023907 -0.059522  0.971431      9
111      Corey   Dickerson  OF  150  2.017933 -0.065496  0.968563      9
84    Shin-Soo        Choo  OF  149  2.006577 -0.076852  0.963113      9
238       Matt        Kemp  OF  115  1.993391 -0.090038  0.956784      9
168     Carlos       Gomez  OF  105  1.972857 -0.110572  0.946928      9
234    Matthew       Joyce  OF  141  1.965816 -0.117614  0.943548      9
223      Ender    Inciarte  OF  157  1.955350 -0.128079  0.938525      9
332      David     Peralta  OF  140  1.947500 -0.135929  0.934757      9
357     Yasiel        Puig  OF  152  1.938816 -0.144613  0.930589      8
242      Kevin   Kiermaier  OF   98  1.933163 -0.150266  0.927876      8
209     Odubel     Herrera  OF  138  1.930290 -0.153139  0.926497      8
224     Austin     Jackson  OF   85  1.924118 -0.159311  0.923534      8
173      Brian     Goodwin  OF   74  1.913784 -0.169645  0.918574      8
62     Lorenzo        Cain  OF  155  1.909806 -0.173623  0.916665      8
430     Denard        Span  OF  129  1.877364 -0.206065  0.901093      8
408      Scott    Schebler  OF  141  1.874326 -0.209103  0.899635      8
370     Hunter     Renfroe  OF  122  1.859180 -0.224249  0.892366      8
63        Kole     Calhoun  OF  155  1.847871 -0.235558  0.886937      8
60       Melky     Cabrera  OF   58  1.843793 -0.239636  0.884980      8
170     Carlos    Gonzalez  OF  136  1.830074 -0.253356  0.878395      8
151        Ben       Gamel  OF  134  1.816567 -0.266862  0.871912      8
272   Starling       Marte  OF   77  1.810260 -0.273169  0.868885      8
49      Jackie     Bradley  OF  133  1.804060 -0.279369  0.865909      8
450    Michael      Taylor  OF  118  1.799576 -0.283853  0.863757      8
411       Kyle   Schwarber  OF  129  1.796977 -0.286452  0.862509      8
185     Randal     Grichuk  OF  122  1.768525 -0.314905  0.848853      8
479     Jayson       Werth  OF   70  1.755286 -0.328143  0.842498      8
330     Hunter       Pence  OF  134  1.719104 -0.364325  0.825132      8
266     Manuel      Margot  OF  126  1.713730 -0.369699  0.822553      7
186     Robbie    Grossman  OF  119  1.706807 -0.376622  0.819230      7
343      Kevin      Pillar  OF  154  1.685065 -0.398364  0.808794      7
211      Jason     Heyward  OF  126  1.681429 -0.402001  0.807049      7
124     Jacoby    Ellsbury  OF  112  1.649643 -0.433786  0.791792      7
155      Leury      Garcia  OF   87  1.637701 -0.445728  0.786060      7
37      Carlos     Beltran  OF  129  1.636744 -0.446685  0.785601      7
263      Mikie     Mahtook  OF  109  1.630550 -0.452879  0.782628      7

UTIL
UTIL average score: 0

Empty DataFrame
Columns: [nameFirst, nameLast, POS, G, 2017_spg, saa, paa, value]
Index: []

SP
SP average score: 6.385873731731563

    nameFirst    nameLast POS   G   2017_spg       saa       paa  value
323     Corey      Kluber  SP  29  14.670345  8.284471  2.000000     56
536     Chris        Sale  SP  32  12.840938  6.455064  2.000000     56
546       Max    Scherzer  SP  31  12.686129  6.300255  1.986593     55
318   Clayton     Kershaw  SP  27  12.424815  6.038941  1.945672     54
577   Stephen   Strasburg  SP  28  11.321786  4.935912  1.772942     49
496    Robbie         Ray  SP  28  10.801429  4.415555  1.691457     47
550      Luis    Severino  SP  31  10.153871  3.767997  1.590052     44
94     Carlos    Carrasco  SP  32   9.765000  3.379126  1.529156     43
654      Alex        Wood  SP  27   9.398889  3.013015  1.471825     41
242      Zack     Greinke  SP  32   9.329375  2.943501  1.460939     41
456     James      Paxton  SP  24   9.112500  2.726626  1.426978     40
141     Jacob      deGrom  SP  31   9.018710  2.632836  1.412291     39
482      Jose    Quintana  SP  14   8.775714  2.389841  1.374239     38
319    Dallas     Keuchel  SP  23   8.672174  2.286300  1.358025     38
15      Chase    Anderson  SP  25   8.395200  2.009326  1.314652     37
278      Rich        Hill  SP  25   8.296400  1.910526  1.299180     36
426     Jimmy      Nelson  SP  29   8.240690  1.854816  1.290456     36
420   Charlie      Morton  SP  25   8.118000  1.732126  1.271243     35
227       Gio    Gonzalez  SP  32   8.093438  1.707564  1.267397     35
435     Aaron        Nola  SP  27   7.559630  1.173756  1.183805     33
373    Carlos    Martinez  SP  32   7.437500  1.051626  1.164680     32
474      Drew    Pomeranz  SP  32   7.376563  0.990689  1.155138     32
540     Ervin     Santana  SP  33   7.330606  0.944732  1.147941     32
635      Luke      Weaver  SP  13   7.186154  0.800280  1.125320     31
223      Zack      Godley  SP  26   7.138077  0.752203  1.117792     31
89     Trevor      Cahill  SP  11   7.058182  0.672308  1.105281     31
458      Brad     Peacock  SP  34   7.046765  0.660891  1.103493     31
236       Jon        Gray  SP  20   6.990500  0.604626  1.094682     31
237     Sonny        Gray  SP  16   6.923750  0.537876  1.084229     30
20      Chris      Archer  SP  34   6.873824  0.487950  1.076411     30
114      Mike   Clevinger  SP  27   6.871852  0.485978  1.076102     30
270      Kyle   Hendricks  SP  24   6.709167  0.323293  1.050626     29
621    Justin   Verlander  SP  28   6.635714  0.249841  1.039124     29
40     Trevor       Bauer  SP  32   6.583437  0.197564  1.030938     29
390    Collin      McHugh  SP  12   6.545000  0.159126  1.024918     29
22       Jake     Arrieta  SP  30   6.531667  0.145793  1.022831     29
582    Marcus     Stroman  SP  33   6.466970  0.081096  1.012699     28
50       Jose     Berrios  SP  26   6.305000 -0.080874  0.987336     28
478     David       Price  SP  16   6.214375 -0.171499  0.973144     27
138        Yu     Darvish  SP  22   6.163636 -0.222237  0.965199     27
386     Lance   McCullers  SP  22   6.035455 -0.350419  0.945126     26
85    Madison   Bumgarner  SP  17   5.971765 -0.414109  0.935152     26
258     J. A.        Happ  SP  25   5.898800 -0.487074  0.923726     26
363     Kenta       Maeda  SP  29   5.832759 -0.553115  0.913385     25
535     Danny     Salazar  SP  23   5.763478 -0.622395  0.902536     25
86      Dylan       Bundy  SP  28   5.698571 -0.687302  0.892371     25
358     Lance        Lynn  SP  33   5.670606 -0.715268  0.887992     25
472   Michael      Pineda  SP  17   5.634118 -0.751756  0.882278     25
344       Jon      Lester  SP  32   5.621250 -0.764624  0.880263     25
629   Taijuan      Walker  SP  28   5.586786 -0.799088  0.874866     24
592  Masahiro      Tanaka  SP  30   5.580667 -0.805207  0.873908     24
398      Alex       Meyer  SP  13   5.476923 -0.908951  0.857662     24
121    Gerrit        Cole  SP  33   5.463030 -0.922843  0.855487     24
509   Eduardo   Rodriguez  SP  25   5.432800 -0.953074  0.850753     24
627   Michael       Wacha  SP  30   5.283333 -1.102540  0.827347     23
77     Parker    Bridwell  SP  21   5.278571 -1.107302  0.826601     23
160     Danny       Duffy  SP  24   5.270000 -1.115874  0.825259     23
537      Jeff  Samardzija  SP  32   5.164687 -1.221186  0.808768     23
102   Jhoulys      Chacin  SP  32   5.138438 -1.247436  0.804657     22
127   Patrick      Corbin  SP  33   5.046364 -1.339510  0.790239     22
119      Alex        Cobb  SP  29   5.035517 -1.350356  0.788540     22
255      Cole      Hamels  SP  24   4.942083 -1.443790  0.773909     22
554      Matt   Shoemaker  SP  14   4.862143 -1.523731  0.761390     21
371    German     Marquez  SP  29   4.838276 -1.547598  0.757653     21
508    Carlos       Rodon  SP  12   4.787500 -1.598374  0.749702     21
576       Dan     Straily  SP  33   4.782424 -1.603449  0.748907     21
617     Jason      Vargas  SP  32   4.646250 -1.739624  0.727583     20
443      Jake    Odorizzi  SP  28   4.637857 -1.748017  0.726268     20
238     Sonny        Gray  SP  11   4.562727 -1.823146  0.714503     20
274     Felix   Hernandez  SP  16   4.515000 -1.870874  0.707029     20
198   Michael      Fulmer  SP  25   4.494000 -1.891874  0.703741     20
567     Blake       Snell  SP  24   4.376667 -2.009207  0.685367     19
485    Erasmo     Ramirez  SP  11   4.376364 -2.009510  0.685319     19
503    Tanner       Roark  SP  32   4.323125 -2.062749  0.676983     19
365      Sean      Manaea  SP  29   4.304828 -2.081046  0.674117     19
611      Jose       Urena  SP  34   4.250588 -2.135285  0.665624     19
483      Jose    Quintana  SP  18   4.236667 -2.149207  0.663444     19
132    Johnny       Cueto  SP  25   4.224400 -2.161474  0.661523     18
384   Brandon    McCarthy  SP  19   4.190526 -2.195347  0.656218     18
591   Jameson     Taillon  SP  25   4.150400 -2.235474  0.649935     18
578     Chris    Stratton  SP  13   4.106923 -2.278951  0.643126     18
531  Hyun-Jin         Ryu  SP  25   4.104400 -2.281474  0.642731     18
155      Sean   Doolittle  SP  30   4.103333 -2.282540  0.642564     18
523       Joe        Ross  SP  13   4.035385 -2.350489  0.631924     18
174     Marco     Estrada  SP  33   3.905758 -2.480116  0.611625     17
332      John      Lackey  SP  31   3.889032 -2.496841  0.609006     17
505     David   Robertson  SP  31   3.823871 -2.562003  0.598802     17
504     David   Robertson  SP  30   3.814000 -2.571874  0.597256     17
210     Kevin     Gausman  SP  34   3.768529 -2.617344  0.590135     16
355      Seth        Lugo  SP  19   3.727895 -2.657979  0.583772     16

RP
RP average score: 3.166103021001503

    nameFirst    nameLast POS   G  2017_spg       saa       paa  value
299    Kenley      Jansen  RP  65  5.050308  1.884205  1.595118     22
320     Craig     Kimbrel  RP  67  4.922239  1.756136  1.554668     22
239      Chad       Green  RP  40  4.524250  1.358147  1.428965     20
324     Corey      Knebel  RP  76  3.962632  0.796529  1.251580     17
139      Wade       Davis  RP  59  3.898136  0.732033  1.231209     17
216       Ken       Giles  RP  63  3.642063  0.475960  1.150330     16
293    Raisel    Iglesias  RP  63  3.634603  0.468500  1.147974     16
449   Roberto       Osuna  RP  66  3.631061  0.464958  1.146855     16
123      Alex      Colome  RP  65  3.573846  0.407743  1.128784     16
282      Greg     Holland  RP  61  3.477377  0.311274  1.098315     15
507  Fernando      Rodney  RP  61  3.421639  0.255536  1.080710     15
150     Edwin        Diaz  RP  66  3.350303  0.184200  1.058179     15
104   Aroldis     Chapman  RP  52  3.272885  0.106782  1.033727     14
257      Brad        Hand  RP  72  3.213611  0.047508  1.015005     14
502    Felipe      Rivero  RP  73  3.210822  0.044719  1.014124     14
321   Brandon    Kintzler  RP  45  3.163111 -0.002992  0.999055     14
7        Cody       Allen  RP  69  3.060290 -0.105813  0.966579     13
410      Mike  Montgomery  RP  44  3.019545 -0.146558  0.953710     13
400    Andrew      Miller  RP  57  2.995439 -0.170664  0.946096     13
468  Yusmeiro       Petit  RP  60  2.991500 -0.174603  0.944852     13
492     A. J.       Ramos  RP  40  2.916000 -0.250103  0.921006     13
646    Justin      Wilson  RP  42  2.915714 -0.250389  0.920916     13
148     Chris    Devenski  RP  62  2.869677 -0.296426  0.906375     13
497   Addison        Reed  RP  48  2.867708 -0.298395  0.905753     13
427    Hector       Neris  RP  74  2.753784 -0.412319  0.869771     12
419   Brandon      Morrow  RP  45  2.686667 -0.479436  0.848572     12
520    Trevor   Rosenthal  RP  50  2.631800 -0.534303  0.831243     11
78       Zach     Britton  RP  38  2.594474 -0.571629  0.819453     11
624    Arodys    Vizcaino  RP  62  2.525968 -0.640135  0.797816     11
359     Tyler       Lyons  RP  50  2.506600 -0.659503  0.791699     11
313     Keone        Kela  RP  39  2.501282 -0.664821  0.790019     11
405      Mike       Minor  RP  65  2.474308 -0.691795  0.781499     11
3        Matt      Albers  RP  63  2.453016 -0.713087  0.774774     11
220    Mychal      Givens  RP  69  2.449855 -0.716248  0.773776     11
275    Kelvin     Herrera  RP  64  2.412500 -0.753603  0.761978     11
51     Dellin    Betances  RP  66  2.404697 -0.761406  0.759513     11